#nav
  .content
    %ul
      %li
        = link_to "About", "#about"
      %li
        = link_to "Projects", "#projects"
      %li
        = link_to "Press", "#press"
      %li
        = link_to "People", "#people"

#page
  #about
    .content
      %h1
        = image_tag "logo.png", :alt => "Open City"
      
      #about-primary
        %h2 Building a better Chicago
        %p
          Open City is a new civic startup. We build open gov and open source apps to make cities work better. Interested in getting involved or supporting us? Get in touch at
          = link_to "opencityapps@gmail.com", "mailto:opencityapps@gmail.com"
      
      #about-secondary
        %twitter
          %script{:charset => "utf-8", :src => 'http://widgets.twimg.com/j/2/widget.js'}
          :javascript
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 1,
              interval: 30000,
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: 'transparent',
                  color: '#000000'
                },
                tweets: {
                  background: 'transparent',
                  color: '#000000',
                  links: '#012d4c'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                behavior: 'all'
              }
            }).render().setUser('opencityapps').start();
  
  #projects
    .content
      %h2 Projects
      
      %dl#sites
        %dt
          = link_to "#{image_tag("clearstreets.png")} Clear Streets", "http://derekeder.com/clearstreets"
        %dd
          = link_to "GitHub repository", "#", :class => "icon-github"
        %dd Proin elementum nisl nec erat lobortis id sollicitudin nisi ultricies. Duis rutrum, leo ac rutrum accumsan, ligula libero scelerisque justo, eget vestibulum purus massa in libero. Praesent tempus dolor ut lacus vehicula eleifend. Sed tortor arcu, semper vel luctus id, consectetur et ligula. Cras dui enim, porttitor eget feugiat eget, ullamcorper non nulla. Donec enim sem, tincidunt eu iaculis cursus, pharetra eget arcu. Aliquam vitae arcu ut arcu aliquet faucibus sed nec leo.
        
        %dt
          = link_to "#{image_tag("chicagolobbyists.png")} Chicago Lobbyists", "http://chicagolobbyists.org"
        %dd
          = link_to "GitHub repository", "#", :class => "icon-github"
        %dd Proin elementum nisl nec erat lobortis id sollicitudin nisi ultricies. Duis rutrum, leo ac rutrum accumsan, ligula libero scelerisque justo, eget vestibulum purus massa in libero. Praesent tempus dolor ut lacus vehicula eleifend. Sed tortor arcu, semper vel luctus id, consectetur et ligula. Cras dui enim, porttitor eget feugiat eget, ullamcorper non nulla. Donec enim sem, tincidunt eu iaculis cursus, pharetra eget arcu. Aliquam vitae arcu ut arcu aliquet faucibus sed nec leo.
        
        %dt
          = link_to "#{image_tag("lookatcook.png")} Look at Cook", "http://lookatcook.org"
        %dd
          = link_to "GitHub repository", "#", :class => "icon-github"
        %dd Proin elementum nisl nec erat lobortis id sollicitudin nisi ultricies. Duis rutrum, leo ac rutrum accumsan, ligula libero scelerisque justo, eget vestibulum purus massa in libero. Praesent tempus dolor ut lacus vehicula eleifend. Sed tortor arcu, semper vel luctus id, consectetur et ligula. Cras dui enim, porttitor eget feugiat eget, ullamcorper non nulla. Donec enim sem, tincidunt eu iaculis cursus, pharetra eget arcu. Aliquam vitae arcu ut arcu aliquet faucibus sed nec leo.
        
        %dt
          = link_to "#{image_tag("metra.png")} Metra Schedules", "http://c82.net/metra"
        %dd
          = link_to "GitHub repository", "#", :class => "icon-github"
        %dd Proin elementum nisl nec erat lobortis id sollicitudin nisi ultricies. Duis rutrum, leo ac rutrum accumsan, ligula libero scelerisque justo, eget vestibulum purus massa in libero. Praesent tempus dolor ut lacus vehicula eleifend. Sed tortor arcu, semper vel luctus id, consectetur et ligula. Cras dui enim, porttitor eget feugiat eget, ullamcorper non nulla. Donec enim sem, tincidunt eu iaculis cursus, pharetra eget arcu. Aliquam vitae arcu ut arcu aliquet faucibus sed nec leo.
    
  #press
    .content
      %h2 Press
      
      %dl.press
        %dt
          = link_to "Civic startup Open City makes Chicago more transparent", "http://news.medill.northwestern.edu/chicago/news.aspx?id=199203"
        %dd
          By Marisa Paulson on 
          %cite Medill Reports
          | January 26, 2012
        
        %dt
          = link_to "What streets have been plowed, and when? Check the Web", "http://www.chicagotribune.com/news/ct-talk-snow-tracker-0121-20120121,0,4501133.story"
        %dd
          By Naomi Nix on
          %cite The Chicago Tribune
          | January 21, 2012
        
        %dt
          = link_to "New Web Project Simplifies City's Open Lobbying Data", "http://chicagoist.com/2011/12/07/new_web_project_simplifies_citys_op.php#photo-1"
        %dd
          By Chuck Sudo on
          %cite Chicagost
          | December 7, 2011
        
        %dt
          = link_to "Chicagobuildings.org maps vacant and abandoned buildings using open government data", "http://gov20.govfresh.com/chicagobuildings-org-maps-vacant-and-abandoned-buildings-using-open-government-data/"
        %dd
          By Alex Howard on 
          %cite govfresh
          | October 12 2011
        
        %dt
          = link_to "Look at Cook sets a high bar for open government data visualizations", "http://radar.oreilly.com/2011/09/look-at-cook-gov-data-visualization.html"
        %dd
          By Alex Howard on
          %cite O'Reilly Radar
          | September 7 2011
        
        %dt
          = link_to "Mayor Emanuel Announces New Lobbyist Data that Provides Clear Connection From Employers to Lobbyists to City Hall", "http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2011/august_2011/mayor_emanuel_announcesnewlobbyistdatathatprovidesclearconnectio.html"
        %dd By Mayor's Press office, City of Chicago | August 30th 2011
  
  #people
    .content
      %h2 People
      %ul#people
        %li
          %h3
            = link_to "#{image_tag("http://dummyimage.com/165")} Paul Baker", "http://twitter.com/paulbaker"
          %p Paul, a former typographer, has been designing websites since 1995. He has presented extensively on topics such as design research, usability, and social networking. He is a jazz musician and gigs frequently around Chicago.
        %li
          %h3
            = link_to "#{image_tag("http://dummyimage.com/165")} Derek Eder", "http://www.derekeder.com"
          %p Derek is a Chicago web developer interested in open government, transit, maps, web design, and usability. He is an event organizer for the OpenGov Chicago Meetup group.
        %li
          %h3
            = link_to "#{image_tag("http://dummyimage.com/165")} Chad Pry", "http://about.me/pry"
          %p Experienced in mentoring, conversation, programming, open data, and the love of food.
        %li
          %h3
            = link_to "#{image_tag("http://dummyimage.com/165")} Nick Rougeux", "http://twitter.com/rougeux"
          %p Nick's a designer who's passionate about finding new ways to explore data but knows just enough from his programming days to still be dangerous.
        %li
          %h3
            = link_to "#{image_tag("http://dummyimage.com/165")} Jim Breen", "http://twitter.com/jimbreen"
          %p Proin condimentum enim sit amet dolor sodales varius. Aenean elementum blandit magna, eu porta erat dapibus nec. Nam justo nulla, tristique nec porttitor posuere, fringilla eu urna.
  
  #footer
    .content
      Get in touch at
      = link_to "opencityapps@gmail.com", "mailto:opencityapps@gmail.com"