#nav
  .content
    %ul
      %li
        = link_to "About", "#about"
      %li
        = link_to "Projects", "#projects"
      %li
        = link_to "Open Gov Hack Night", "#open-gov-hack-night"
      %li
        = link_to "People", "#people"
      %li
        = link_to "Press", "#press"
      

#page
  #about
    .content
      #about-primary
        %h1
          = image_tag "logo.png", :alt => "Open City - Civic apps built with open data"
        %h2 Civic apps built with open data
        %p
          Open City is a group of volunteers that create apps with open data to improve transparency and citizen understanding of our government.   

      #about-secondary
        %p
          %a{:href => "https://github.com/open-city"}
            %img{:alt => "Open City on Github", :src => "/images/github.png", :title => "Open City on Github"}
          %a{:href => "https://twitter.com/opencityapps"}
            %img{:alt => "Open City on Twitter", :src => "/images/twitter.png", :title => "Open City on Twitter"}
  
  #projects
    .content
      %h2 Projects
      %p 
        All of our projects are 
        = link_to "open source", "https://github.com/open-city"
        and free to use under the 
        = succeed '.' do
          %a{:href => 'http://en.wikipedia.org/wiki/MIT_License'} MIT license 
        
        Want to bring one of these apps to your city, municipality or organization? Get in touch at 
        = succeed '.' do
          = link_to "info@opencityapps.org", "mailto:info@opencityapps.org"

      %dl#sites
        %dt
          = link_to "#{image_tag("projects/chicagocouncilmatic.jpg")} Chicago Councilmatic", "http://chicagocouncilmatic.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/councilmatic", :class => "icon-github"
        %dd 
          Are you curious about what legislation the <a href='http://www.cityofchicago.org/city/en/about/council.html'>Chicago City Council</a> has been passing? Search, browse, subscribe and comment on everything the City Council has done since Jan 1st 2010. 
        %dd
          %strong Team: 
          Derek Eder and Forest Gregg

        %dt
          = link_to "#{image_tag("projects/capsure.jpg")} CAPSure", "http://capsure.opencityapps.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/capsure", :class => "icon-github"
        %dd 
          Chicago Alternative Policing Strategy meetings, or <a href='https://portal.chicagopolice.org/portal/page/portal/ClearPath/Get%20Involved/How%20CAPS%20works/Beat%20Meetings'>CAPS meetings</a>, are recurring events with the Chicago Police Department and Chicago residents that encourage community members and police to work together to reduce crime. CAPSure lets you find out when and where your next meeting is, in an effort to increase the level of citizen participation.
        %dd
          %strong Team: 
          Derek Eder, Nick Doiron, Forest Gregg and Aya O'Connor

        %dt
          = link_to "#{image_tag("projects/second-city-zoning.jpg")} 2nd City Zoning", "http://secondcityzoning.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/second-city-zoning", :class => "icon-github"
        %dd 
          2nd City Zoning is an interactive map that lets you find out how your building is zoned,
          learn where to locate your business and explore zoning patterns throughout the city.
          To make Chicago’s zoning code digestible by humans, we took inspiration from one of our favorite games: 
          = succeed '.' do
            %a{:href => 'http://en.wikipedia.org/wiki/SimCity_2000'} Sim City 2000
        %dd
          %strong Team: 
          Derek Eder and Juan-Pablo Velez

        %dt
          = link_to "#{image_tag("projects/edifice.jpg")} Edifice", "http://edifice.opencityapps.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/edifice-maps", :class => "icon-github"
        %dd 
          Edifice is a series of maps that explore Chicago's built environment, from 
          = succeed ',' do
            %a{:href => 'https://data.cityofchicago.org/Buildings/Building-Footprints/w2v3-isjw'} building footprints
          to 
          %a{:href => ''} violations
          = succeed ',' do
            %a{:href => ''} demolitions
          and 
          = succeed '.' do
            %a{:href => 'https://data.cityofchicago.org/Buildings/Building-Permits/ydr8-5enu'}
            new construction
        %dd
          %strong Team: 
          Cory Mollet and Juan-Pablo Velez

        %dt
          = link_to "#{image_tag("projects/hows-business.jpg")} How's Business?", "http://howsbusinesschicago.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/hows-business", :class => "icon-github"
        %dd 
          How’s Business provides a dashboard of Chicago’s local economy. It uses open data from the 
          = succeed ',' do
            %a{:href => 'http://data.cityofchicago.org'} City of Chicago
          the 
          %a{:href => 'http://www.bls.gov/lau/'} Bureau of Labor Statistics
          and the 
          %a{:href => 'http://www.woodstockinst.org/'} Woodstock Institute
          to show how several economic indicators have been trending since 2005.
        %dd
          %strong Team: 
          Daniel Morton, Derek Eder, Forest Gregg and Matt Gee

        %dt
          = link_to "#{image_tag("projects/crime-in-chicago.png")} Crime in Chicago", "http://www.crimeinchicago.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/crime-in-chicago", :class => "icon-github"
        %dd Crime in Chicago is a data visualization that lets you explore crime trends in Chicago's 50 wards. It was built using <a href='https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2'>open data about Chicago crimes</a> released by the <a href='http://www.cityofchicago.org/police'>Chicago Police Department</a>.
        %dd
          %strong Team: 
          Nick Rougeux, Chad Pry, Derek Eder, Paul Baker, Jim Breen and Juan-Pablo Velez

        %dt
          = link_to "#{image_tag("projects/cpstiers.png")} Chicago Public School Tiers", "http://cpstiers.opencityapps.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/cps-tiers", :class => "icon-github"
        %dd In Chicago, a student's chance of getting into the city's top, selective schools depends on where he or she lives. Chicago Public Schools (CPS) places every part of the city into one of four socio-economic "tiers" and requires selective schools to reserve the same number of spots for the students from each tier. This tool helps you find what CPS tier your are in.
        %dd
          %strong Team: 
          Forest Gregg, Derek Eder and Juan-Pablo Velez
        
        %dt
          = link_to "#{image_tag("projects/clearstreets.png")} Clear Streets", "http://derekeder.com/clearstreets"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/clearstreets-web", :class => "icon-github"
        %dd 
          On January 3rd 2012, the City of Chicago launched 
          = link_to "Plow Tracker", "http://www.cityofchicago.org/content/city/en/depts/mayor/iframe/plow_tracker.html"
          , an app that tracks the city's snow plows in real time. This app uses the same data. By knowing where the plows are, we've figured out which streets have been plowed. Featured in Google's 
          = succeed '.' do
            = link_to "Fusion Tables Example Gallery", "https://sites.google.com/site/fusiontablestalks/stories#collaborate"
        %dd
          %strong Team: 
          Forest Gregg, Derek Eder and Juan-Pablo Velez
        
        %dt
          = link_to "#{image_tag("projects/chicagolobbyists.png")} Chicago Lobbyists", "http://chicagolobbyists.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/chicago-lobbyists-web", :class => "icon-github"
          |
          = link_to "Chicago Lobbyists blog", "http://blog.chicagolobbyists.org"
        %dd ChicagoLobbyists.org is an open data, open government, and open source project intended to improve the transparency of interactions between the City of Chicago and lobbyists and their clients. 
        %dd
          %strong Team: 
          Chad Pry, Ryan Briones, Nick Rougeux, Paul Baker and Derek Eder
        
        %dt
          = link_to "#{image_tag("projects/vacantbuildingfinder.png")} Vacant and Abandoned Building Finder", "http://chicagobuildings.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/vacant-building-finder", :class => "icon-github"
        %dd ChicagoBuildings.org is a tool for finding vacant and abandoned buildings in Chicago. The data comes from reports made to the City of Chicago's 311 reporting service and is updated regularly. 
        %dd
          %strong Team: 
          Derek Eder
        
        %dt
          = link_to "#{image_tag("projects/lookatcook.png")} Look at Cook", "http://lookatcook.org"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/look-at-cook", :class => "icon-github"
        %dd 
          Look at Cook is an easy-to-understand budget visualization for Cook County IL, which tracks government budgets and expenditures from 1993-2011 broken down by year and department. Developed in collaboration with Cook County Commissioner John Fritchey. Featured in Google's <a href='https://sites.google.com/site/fusiontablestalks/stories#API'>Fusion Tables Example Gallery</a> and <a href='http://s3.amazonaws.com/lookatwhitewater/index.html'>redeployed</a> by the City of Whitewater, WI.
        %dd
          %strong Team: 
          Derek Eder and Nick Rougeux
        
        %dt
          = link_to "#{image_tag("projects/metra.png")} Metra Schedules", "http://c82.net/metra"
        %dd
          = link_to "GitHub repository", "https://github.com/open-city/metra-service-changes", :class => "icon-github"
        %dd Created to visualize Metra's proposed 2012 service cuts due to high operating costs and shows how much of an impact the changes would have on riders' schedules. How the final result came about was a mixture of curiosity and fun with a pinch of obsession.
        %dd
          %strong Team: 
          Nick Rougeux

  #open-gov-hack-night
    .content
      %h2 
        = link_to "Open Gov Hack Night", "http://opengovhacknight.eventbrite.com"
        
      %p
        Every Tuesday from 6:00pm - 10:00pm
      %p
        Come join a group of passionate folks working at the intersection of open government, cities, and technology. This will be an evening of civic tech hacking, collaboration, learning and networking.
        
      %p
        %strong
          1871
        %br
        222 W. Merchandise Mart Plaza, 12th Floor 
        %br
        Chicago, IL 60654
        %br
        = link_to "RSVP on Eventbrite »", "http://opengovhacknight.eventbrite.com"

  #people
    .content
      %h2 People

      %h3 Leadership
      %ul.people
        %li
          %h3
            = link_to "#{image_tag("people/derek-eder.jpg")} <br /> Derek Eder", "http://www.derekeder.com"
        %li
          %h3
            = link_to "#{image_tag("people/juan-pablo-velez.jpg")} <br /> Juan-Pablo Velez", "http://jpvelez.contently.com/" 
        %li
          %h3
            = link_to "#{image_tag("people/forest-gregg.jpg")} <br /> Forest Gregg", "http://sociology.uchicago.edu/people/grad_students/ForestGregg.shtml"
      .clear
      %p &nbsp;

      %h3 Co-founders
      %ul.people
        %li
          %h3
            = link_to "#{image_tag("people/paul-baker.jpg")} <br /> Paul Baker", "http://twitter.com/paulbaker" 
        %li
          %h3
            = link_to "#{image_tag("people/chad-w-pry.jpg")} <br /> Chad Pry", "http://about.me/pry"
        %li
          %h3
            = link_to "#{image_tag("people/nick-rougeux.jpg")} <br /> Nick Rougeux", "http://twitter.com/rougeux"

      .clear
      %p &nbsp;

      %h3 
        Collaborators
      %ul.people
        %li
          %h3
            = link_to "#{image_tag("people/jim-breen.jpg")} <br /> Jim Breen", "https://twitter.com/jimbreen"
        %li
          %h3
            = link_to "#{image_tag("people/ryan-briones.jpg")} <br /> Ryan Briones", "http://ryanbriones.com/" 
        %li
          %h3
            = link_to "#{image_tag("people/nick-doiron.jpg")} <br /> Nick Doiron", "http://mapmeld.com/" 
        %li
          %h3
            = link_to "#{image_tag("people/matt-gee.jpg")} <br /> Matt Gee", "http://www.linkedin.com/pub/matthew-gee/6/5b1/6b5"
        %li
          %h3
            = link_to "#{image_tag("people/cory-mollet.jpg")} <br /> Cory Mollet", "https://twitter.com/CoryMollet" 
        %li
          %h3
            = link_to "#{image_tag("people/daniel-morton.jpg")} <br /> Daniel Morton", "www.linkedin.com/pub/daniel-morton/24/29/898"
        
  
  #press
    .content
      %h2 Press
      
      %dl.press

        %dt
          = link_to "Hacking Community Policing with Google", "http://digital.cityofchicago.org/index.php/hacking-safer-communities-and-community-policing-with-google/"
        %dd
          %cite Chicago Digital
          | May 15, 2013

        %dt
          = link_to "Chicago civic hackers: Saving the world takes more than open public data", "http://news.medill.northwestern.edu/chicago/news.aspx?id=220397"
        %dd
          By Julie Davis on 
          %cite Medill Reports - Chicago
          | Apr 23, 2013

        %dt
          = link_to "The 'hoodies', the 'suits' and others behind Chicago Government 2.0", "http://www.wbez.org/news/%E2%80%98hoodies%E2%80%99-%E2%80%98suits%E2%80%99-and-others-behind-chicago-government-20-106458"
        %dd
          By Elliott Ramos on 
          %cite WBEZ
          | Apr 3, 2013

        %dt
          = link_to "Derek Eder, Juan Pablo Velez, and OpenGov Hackers on Open Data and Civic-Minded Applications", "http://chicagopolicyreview.org/2013/04/01/policy-radio-special-edition-derek-eder-juan-pablo-velez-and-opengov-hackers-on-open-data-and-civic-minded-applications/"
        %dd
          By Julie Cooper on 
          %cite Chicago Policy Review
          | Apr 1, 2013

        %dt
          = link_to "New data set alert: 9 million new rows worth of traffic data released by Chicago", "http://wbezdata.tumblr.com/post/46446630030/new-data-set-alert-9-million-new-rows-worth-of-traffic"
        %dd
          By Elliott Ramos on 
          %cite WBEZ's Day x Datum 
          | Mar 27, 2013

        %dt
          = link_to "Mapping the Bones of a City", "http://www.theatlanticcities.com/neighborhoods/2013/03/mapping-bones-city/5101/"
        %dd
          By Emily Badger on 
          %cite Atlantic Cities
          | Mar 26, 2013

        %dt
          = link_to "SimCity Reference of the Day: Chicago Zoning Map", "http://www.theatlanticcities.com/politics/2013/02/simcity-reference-day-chicago-zoning-map/4685/"
        %dd
          By Henry Grabar on 
          %cite Atlantic Cities
          | Feb 12, 2013

        %dt
          = link_to "Map of Chicago with SimCity zoning", "http://www.reddit.com/r/SimCity/comments/186k38/map_of_chicago_with_simcity_zoning/"
        %dd
          By awinsalot on 
          %cite Reddit /r/SimCity
          | Feb 9, 2013

        %dt
          = link_to "App by OpenGov group simplifies Chicago’s complex zoning — Sim City style", "http://wbezdata.tumblr.com/post/42592720990/app-by-opengov-group-simplifies-chicagos-complex"
        %dd
          By Elliott Ramos on 
          %cite Day x Datum on WBEZ
          | Feb 8, 2013

        %dt
          = link_to "Sim City for the Second City", "http://nextcity.org/daily/entry/sim-city-meets-the-second-city"
        %dd
          By Juan-Pablo Velez on 
          %cite Next City
          | Feb 7, 2013

        %dt
          = link_to "App lifts veil on government policy for Chicagoans", "http://news.medill.northwestern.edu/chicago/news.aspx?id=214542"
        %dd
          By Conner Forrest on 
          %cite Medill Reports - Chicago
          | Jan 24, 2013

        %dt
          = link_to "Civic hackers: 21st century community organizers?", "http://news.medill.northwestern.edu/chicago/news.aspx?id=214509"
        %dd
          By Laurel White on 
          %cite Medill Reports - Chicago
          | Jan 24, 2013

        %dt
          = link_to "Second City 2000", "http://chicagotonight.wttw.com/2013/01/23/second-city-2000"
        %dd
          By Michael Lipkin on 
          %cite Chicago Tonight (WTTW)
          | Jan 23, 2013

        %dt
          = link_to "Open Government Hack Night", "https://timeoutchicago.com/things-to-do/this-week-in-chicago/15996451/open-government-hack-night"
        %dd
          By Jake Malooley on 
          %cite TimeOut Chicago
          | Jan 17, 2013

        %dt
          = link_to "Updated ClearStreets, Alternative to Plow Tracker, Brings New Features and Mobile Friendly Design", "http://gridchicago.com/2012/updated-clearstreets-alternative-to-plow-tracker-brings-new-features-and-mobile-friendly-design/"
        %dd
          By Steven Vance on 
          %cite GridChicago
          | Dec 20, 2012

        %dt
          = link_to "ClearStreets: Another Great Project Benefitting from Space on the Smart Chicago EC2 Account", "http://www.smartchicagocollaborative.org/clearstreets-another-great-project-benefitting-from-space-on-the-smart-chicago-ec2-account/"
        %dd
          By Daniel X. O'Neil on 
          %cite Smart Chicago Collaborative Blog
          | Dec 20, 2012

        %dt
          = link_to "Mayor Emanuel touts expansion of Chicago’s open data effort, and this is why you should care", "http://www.wbez.org/news/mayor-emanuel-touts-expansion-chicago%E2%80%99s-open-data-effort-and-why-you-should-care-104344"
        %dd
          By Elliott Ramos on 
          %cite WBEZ
          | Dec 12, 2012

        %dt
          = link_to "Doctors, Devs, and the Flu", "http://digital.cityofchicago.org/index.php/doctors-devs-and-the-flu/"
        %dd
          %cite Chicago Digital
          | Dec 3, 2012

        %dt
          = link_to "Hacking Chicago", "http://www.huffingtonpost.com/derek-eder/chicago-public-schools-locator-map_b_2119284.html"
        %dd
          By Derek Eder on 
          %cite Huffington Post
          | Nov 12, 2012

        %dt
          = link_to "Center for Neighborhood Technology Urban Sustainability Hackathon", "http://www.smartchicagocollaborative.org/center-for-neighborhood-technology-urban-sustainability-hackathon/"
        %dd
          By Daniel X. O'neil on 
          %cite Smart Chicago Collaborative Blog
          | Oct 28, 2012

        %dt
          = link_to "Brigade Spotlight: Chicago", "http://codeforamerica.org/2012/10/11/brigade-spotlight-chicago/"
        %dd
          By Christopher Whitaker on
          %cite Code for America Blog
          | Oct 11, 2012

        %dt
          = link_to "Open City launches new civic app to map crime in Chicago", "http://gov20.govfresh.com/open-city-launches-new-civic-app-to-map-crime-in-chicago/"
        %dd
          By Alex Howard on
          %cite govfresh
          | June 26, 2012
          
        %dt
          = link_to "Changing The Code: Government Data And Digital Entrepreneurship", "http://blog.cookcountygov.com/opencc/live-streaming-event-changing-the-code-government-data-and-digital-entrepreneurship/"
          (video)
        %dd
          %cite
            Cook County
          | April 25, 2012
        
        %dt
          = link_to "App Helps Figure Odds for Chicago's Elite High School Seats", "http://blogs.edweek.org/edweek/parentsandthepublic/"
        %dd
          %cite
            Education Week
          | March 23, 2012
          
        %dt
          = link_to "Educating Chicago", "http://codeforamerica.org/2012/03/15/educating-chicago/"
        %dd
          By Ben Sheldon on
          %cite
            Code for America Blog
          | March 15, 2012
        
        %dt
          = link_to "Chicago Public School Tiers: New app to help CPS applicants", "http://chicagotonight.wttw.com/2012/03/09/chicago-public-school-tiers"
        %dd
          %cite
            Chicago Tonight
            (WTTW)
          | March 9, 2012
        
        %dt
          = link_to "New Web App Makes It Easier For CPS Students To Get Into The Schools They Want", "http://chicagoist.com/2012/03/08/new_web_app_makes_it_easier_for_cps.php"
        %dd
          %cite
            Chicagoist
          | March 8, 2012
          
        %dt
          = link_to "Shovel Ready", "http://www.ascentstage.com/archives/2012/02/shovel-ready/"
        %dd
          By John Tolva on
          %cite
            Ascent Stage
          | February 21, 2012
        
        %dt
          = link_to "Chicago Data Apps Panel Discussion", "http://chicagotonight.wttw.com/2012/01/31/chicago-data-apps"
          (video)
        %dd
          %cite
            Chicago Tonight
            (WTTW)
          | January 31, 2012
        
        %dt
          = link_to "Civic startup Open City makes Chicago more transparent", "http://news.medill.northwestern.edu/chicago/news.aspx?id=199203"
        %dd
          By Marisa Paulson on 
          %cite Medill Reports
          | January 26, 2012
          
        %dt
          = link_to "San Francisco's Plan: Open Government, Open Data, Open Doors to New Business and Better Services", "http://techpresident.com/news/21676/san-francisco-push-accelerate-government-20-economic-development-tool-could-just-be"
        %dd
          By Sarah Lai Stirland on
          %cite Tech President
          | January 24 2012
        
        %dt
          = link_to "What streets have been plowed, and when? Check the Web", "http://www.chicagotribune.com/news/ct-talk-snow-tracker-0121-20120121,0,4501133.story"
        %dd
          By Naomi Nix on
          %cite The Chicago Tribune
          | January 21, 2012
          
        %dt
          = link_to "New plow tracker-style website hits the web in time for today’s snow storm", "http://gridchicago.com/2012/new-plow-tracker-style-website-hits-the-web-in-time-for-todays-snow-storm/"
        %dd
          By Steven Vance on
          %cite Grid Chicago
          | January 20, 2012
        
        %dt
          = link_to "Open data in Chicago: progress and direction", "http://www.ascentstage.com/archives/2012/01/open-data-in-chicago/"
        %dd
          By John Tolva on
          %cite
            Ascent Stage
          | January 1, 2012
        
        %dt
          = link_to "New Web Project Simplifies City's Open Lobbying Data", "http://chicagoist.com/2011/12/07/new_web_project_simplifies_citys_op.php#photo-1"
        %dd
          By Chuck Sudo on
          %cite Chicagost
          | December 7, 2011
          
        %dt
          = link_to "Can the Internet help disrupt the power of Chicago Lobbyists through transparency?", "http://gov20.govfresh.com/can-the-internet-help-disrupt-the-power-of-chicago-lobbyists-through-transparency/"
        %dd
          By Alex Howard on
          %cite govfresh
          | December 7, 2011
        
        %dt
          = link_to "Chicagobuildings.org maps vacant and abandoned buildings using open government data", "http://gov20.govfresh.com/chicagobuildings-org-maps-vacant-and-abandoned-buildings-using-open-government-data/"
        %dd
          By Alex Howard on 
          %cite govfresh
          | October 12 2011
          
        %dt
          = link_to "Beautiful budgets? Look at Cook", "http://govfresh.com/2011/09/beautiful-budgets-look-at-cook/"
        %dd
          By Luke Fretwell on 
          %cite govfresh
          | September 12 2011
        
        %dt
          = link_to "Look at Cook sets a high bar for open government data visualizations", "http://radar.oreilly.com/2011/09/look-at-cook-gov-data-visualization.html"
        %dd
          By Alex Howard on
          %cite O'Reilly Radar
          | September 7 2011
        
        %dt
          = link_to "Mayor Emanuel Announces New Lobbyist Data that Provides Clear Connection From Employers to Lobbyists to City Hall", "http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2011/august_2011/mayor_emanuel_announcesnewlobbyistdatathatprovidesclearconnectio.html"
        %dd By Mayor's Press office, City of Chicago | August 30th 2011
  
  #footer
    .content
      Have a suggestion or feedback on one of our apps? Want us to use your city or municipality's data for a new project? Get in touch at
      = succeed '.' do
        = link_to "info@opencityapps.org", "mailto:info@opencityapps.org"
