!!! Strict
%html{:lang => :en}
  %head
    %title
      Open City

    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => ''}

    = include_favicon :favicon

    = include_stylesheet :default

    = include_javascript "jquery"
    = include_javascript "analytics"
    = include_javascript "jquery.ga-event-tracker"

    = include_stylesheet "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800"

    = content :javascript

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28508534-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    #page
      %h1
        = image_tag "logo.png", :alt => "Open City"

      %h2
        Building a better Chicago

      %ul.projects
        %li
          = link_to "#{image_tag("clearstreets.png")} Clear Streets", "http://derekeder.com/clearstreets"
        %li
          = link_to "#{image_tag("chicagolobbyists.png")} Chicago Lobbyists", "http://chicagolobbyists.org"
        %li
          = link_to "#{image_tag("lookatcook.png")} Look at Cook", "http://lookatcook.org"
        %li
          = link_to "#{image_tag("metra.png")} Metra Schedules", "http://c82.net/metra"

      .clear

      #content
        = yield
