!!! Strict
%html{:lang => :en}
  %head
    %title
      Open City

    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => ''}

    = include_favicon :favicon

    = include_stylesheet :default

    = include_javascript "jquery"

    = content :javascript
  
    :javascript
      $(function(){
        $("#nav a").click(function() {
          var elementClicked = $(this).attr("href");
          var destination = $(elementClicked).offset().top;
          console.log(destination);
          $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-75}, 500 );
          $("#nav a").removeClass("current");
          $(this).addClass("current");
          return false;
        });
      });

  %body
    = yield
    
    - if production?
      = include_javascript :analytics_lib